@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');

h1{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background-color: #001E6B;
    border-radius: 10px;
    margin: 30px 11.5cm;
    padding: .3cm;
}

img{
    width: 200px;
}

div{
    height: 70vh;
}

h1, div, h4{
    text-align: center;
}